
external/GU-Logo-blau-CMYK-eps-converted-to.pdf
external/signature.png
hnfe1-paper.aux
hnfe1-paper.bbl
hnfe1-paper.blg
hnfe1-paper.log
hnfe1-paper.lot
hnfe1-paper.synctex.gz
hnfe1-paper.toc
hnfe1-paper.pdf
hnfe1-paper.lof
.Rproj.user
plots/plots.Rproj
plots/.Rhistory
plots/cfr.pdf
